
   
<main class="homeclass"> 
    <!-- banner section start -->
    <section id="customizationslide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 customization-container">
                    <div class="row">
                        <div class="ol-12 col-md-8 col-lg-7">
                            <div class="detail-container">
                                <h1>
                                    Custom Sublimation <span class="accent-text">basketball</span>
                                    <br> UNIFORMs
                                </h1>
                                <h5> Most advanced sublimation technology Million of colors that will stay bright for years </h5>
                                <a id="contact-now" class="btn btn-success" href="#"> Contact us Now! </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-5">
                            <div class="detail_banner">
                            <img src="~/images/hockey_bannerv1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2> "Create A Custom Look For Your Team Or Club With Our Design Team" </h2>
                        <p> We will build an online store with your kits so your team members can order them with no minimum restrictions any time of the year. Each player can personalize the jerseys with player number and player name according to your team or league policy. Complete each kit with our high-quality soccer socks in many stock colors. The production time is ten business days plus shipping from when the order is completed. All our products are made with high-quality materials and professional workmanship to rival the top brands of soccer uniforms. </p>
                    </div>
                </div>
            </div>
        </section>
</main>
    <div id="Items_list"></div>
    <!-- banner section end -->
<script src="~/customjs/product.js"></script>