 <section class="basketball-stock">
       <div class="container-fluid">
          <div class="row">
              <div class="col-12 mb-3">
                  <h3>Basketball Catalog <i class="fas fa-share-alt"></i></h3>
              </div>
              <div id="product-category" class="col-12">
                <div class="row">
                    <h4 class="Itemtitle">Men's</h4>
                </div>
                <div class="row mt-2">
                 <!--  product Item start -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a href="/BasketBall/ItemsDetailsByID/1">
                                <img src="~/images/jersey_01.jpg" alt="basketball">
                          </a>
                          <div class="product-item-title">
                              <div class="product-patterns-disabled hidden"> <div> <p>DP</p> </div> </div>
                              <h4> Mens Los Angeles Reversible Jersey </h4>

                              <div class="price">
                                  <div class="price_reg">
                                      $79.99
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <!--  product Item end -->

                    <!--  product Item start -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a href="/BasketBall/ItemsDetailsByID/2">
                                <img src="~/images/jersey_02.jpg" alt="basketball">
                          </a>
                          <div class="product-item-title">
                              <h4> Men's Fast Break Basketball Jersey </h4>
                              <div class="price">
                                  <div class="price_reg">
                                      $65.00
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <!--  product Item end -->

                    <!--  product Item start -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                           <a href="/BasketBall/ItemsDetailsByID/3">
                                <img src="~/images/jersey_03.jpg" alt="basketball">
                          </a>
                          <div class="product-item-title">
                              <h4>  Mens All-Star Basketball Jersey </h4>
                              <div class="price">
                                  <div class="price_reg">
                                      $74.66
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <!--  product Item end -->

                     <!--  product Item start -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="product-item">
                            <a href="/BasketBall/ItemsDetailsByID/4">
                             <img src="~/images/reversible_short.jpg" alt="basketball">
                          </a>
                          <div class="product-item-title">
                              <h4> Mens Los Angeles Reversible Short </h4>
                              <div class="price">
                                  <div class="price_reg">
                                      $79.99
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <!--  product Item end -->

                </div>
              </div>
          </div>
      </div>
     </section>